* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body{
    header{
        background-color: rgb(243, 238, 86);
        h1{
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            padding: 1rem;
        }
    }
    main{
        text-align: center;
        padding: 1rem;
        
            
        h2{
            font-size: 2rem;
            padding-bottom: 1rem;
        }
        input#guessInput{
            font-size: 1.5rem;
            margin-right: 0.5rem;
            text-align: center;
            width: 150px;
            
        }
        button.btnSend{
            font-size: 1.3rem;
        }

        h3{
            font-size: 1.5rem;
            padding: 1rem;
        }

        h4{
            font-size: 1.5rem;
            padding: 1rem;
        }

        button.btnRefresh{
            font-size: 1.5rem;
            
        }
        
    }
}